.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 260px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  height: 650px;
  background-color: rgb(235, 235, 235);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 16px;
  transition: box-shadow 0.3s ease;
  margin-top: 20px;
  cursor: pointer;
}

.card-wrapper:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.2);
}

.card-title {
  font-size: 24px;
  color: #333333;
}

.card-content {
  font-size: 18px;
  color: #555555;
  line-height: 1.8;
}

.langs-list {
  font-size: 14px;
  line-height: 1.6;
  color: #555555;
}
